* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial;
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.container {
  color: black;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  text-align: right;
  width: 100%;
  font-size: 2em;
  color: black; /* Set your desired text color */
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  color: black;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 11rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 0.8s ease infinite 0.5s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .landing-page header .logo {
    color: black;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 30px;
    top: 5%;
    left: 5%;
    position: absolute;
  }

  .landing-page header .links {
    top: 5%;
    display: flex;
    position: absolute;
    right: 10%;
    justify-content: space-between;
    z-index: 1;
  }

  .landing-page header .links li {
    /* margin-left: 30px; */
    color: black;
    cursor: pointer;
    transition: .3s;
    width: 100%;
  }

  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: black;
    text-decoration: 0 0 20px black;
    border-radius: 20px;
  }
  .landing-page header .links li:last-child:hover {
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    box-shadow: 0 0 20px white;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  /* End Landing Page */
  
  /* About Page */
  .about h1{
    color: black;
    font-size: 60px;
    padding-left: 50px;
  }
  
  .about p{
    margin: 0;
    font-size: 20px;
    color: black;
    padding-top: 15px;
    padding-left: 50px;
  }
  /* Shoes Page */
  
  
  /* Clothes Page */
  
  
  /* Employees Page */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 389px;
    height: 400px;
    background-color: black;
    border-radius: 30%;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(-100px);
  }
  .card:hover .card__image {
    filter: blur(50px);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;   
    background-color: grey;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-weight: bold;
    margin: 0 0 .3em;
    color: black;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: 1.8em;
    color: black;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    background-color: white;
  }
  
  /* Contact Page */


  /* Animation Setttings */

  