* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #bacccd;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .landing-page header .logo {
    color: black;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 30px;
    left: 5%;
    position: absolute;
  }

  .landing-page header .links {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10%;
    justify-content: space-between;
  }

  .landing-page header .links li {
    /* margin-left: 30px; */
    color: black;
    cursor: pointer;
    transition: .3s;
    width: 100%;
  }

  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: white;
    text-decoration: 0 0 20px white;
    border-radius: 20px;
  }
  .landing-page header .links li:last-child:hover {
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    box-shadow: 0 0 20px white;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }

  .landing-page .content .info h1 {
    color: black;
    font-size: 60px;
    padding-left: 50px;
    text-transform: uppercase;
    text-shadow: 0 0 20px blue;
  }
  .landing-page .content .info p {
    margin: 0;
    font-size: 20px;
    color: black;
    padding-left: 50px;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }
  /* End Landing Page */
  
  /* About Page */
  .about h1{
    color: black;
    font-size: 60px;
    padding-left: 50px;
  }
  
  .about p{
    margin: 0;
    font-size: 20px;
    color: black;
    padding-top: 15px;
    padding-left: 50px;
  }
  /* Shoes Page */
  
  
  /* Clothes Page */
  
  
  /* Employees Page */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 389px;
    height: 400px;
    background-color: black;
    border-radius: 30%;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(-100px);
  }
  .card:hover .card__image {
    filter: blur(50px);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;   
    background-color: grey;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-weight: bold;
    margin: 0 0 .3em;
    color: black;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: 1.8em;
    color: black;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    background-color: white;
  }
  
  /* Contact Page */