.mode-switch {
    position: absolute;
    top: 10%;
    right: 10px;
  }
  
  button{
    background: none;
    border: none;
    cursor: pointer;
    color: red;
  }
  
  body.dark-mode {
    background: linear-gradient(60deg, black 42%, red 65%);
  }

  .dark-mode button{
    color: black;
  }
  
  .dark-mode .container{
    color: white;
  }

  .dark-mode .container h1{
    color: red;
    font-size: 60px;
    -webkit-text-stroke: 2px white;
  }

  .dark-mode .stack span {
    color: white;
  }
  
  .dark-mode .slogan {
    color: black;
    -webkit-text-stroke: 1px white;
  }

  .dark-mode .landing-page header .logo {
    color: red;
  }

  .dark-mode .landing-page header .links li {
    color: black;
  }

  .dark-mode .landing-page header .links li:last-child:hover {
    border-radius: 20px;
    padding: 10px 20px;
    color: red;
    background-color: black;
    box-shadow: 0 0 20px white;
  }
